// Functions, Mixins, and Variables

// Colors //

$color-yellow: #ffca01;
$color-light: #89b73e;
$color-primary: #539f43;
$color-dark: #41803f;

$color-white: #fff;
$color-black: #000;
$color-grey-dark: #333;
$color-grey-light: #777;
