// Navigation //

.logo {
  display: flex;
  align-items: center;
  margin-right: auto;

  &__photo {
    width: 8rem;
    padding-right: 1rem;
  }

  &__text {
    font-size: 2.4rem;
    color: $color-dark;
  }
}

.top-nav {
  list-style: none;
  font-size: 1.8rem;
  display: flex;
  align-items: center;

  &__item {
    padding-right: 5rem;
  }

  &__link {
    text-decoration: none;
    color: $color-grey-light;

    &:hover {
      color: $color-black;
    }
  }

  &__cart {
    color: $color-dark;
    font-size: 2.5rem;
  }
}
